@import "foundation-sites/dist/css/foundation-float.min.css";
@import "foundation-sites/dist/css/foundation-rtl.min.css";
@import "foundation-sites/dist/css/foundation-prototype.min.css";
@import "foundation-sites/dist/css/foundation.min.css";
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.color{
  background: rgb(172 226 243) !important;
}

.risk-calculator-transfer{
    right: 10px;
    top: 5px;
    height: 260px !important;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 5px;
    font-size: 14px;
}
.detail-container{
  margin: 20px;
}
.container{
  align-items: center;
  vertical-align: middle;
  margin: 50px;
}
.mg-5{
  margin: 5px;
}
